.taskinput {
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    background-color: transparent;
    padding: 10px;
    width: 70%;
    min-width: 60%;

  }
  
.taskinput input {
width: 300px;
padding: 10px;
}

.taskinput button {
margin-left: 10px;
}

.inputfield{
  border-radius: 20px;
  border-color: rgb(38, 41, 54);
}

.btn-9 {
  height: 25%;
  font-family: 'Montserrat', sans-serif;
  background: #2e77e5;
  color: white;
  border-radius: 20px;
  box-shadow: 0 3px 0px #2556a0;
  display: inline-block;
  transition: all .2s;
  position: relative;
  padding: 20px 25px;
  top: 0;
  cursor: pointer;
  margin:0 20px;
}

 .btn-9:active {
  top: 5px;
  box-shadow: 0 0px 0px #387796;
  transition: all .2s;
}