.app{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
  }
  
.tasks{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }