.taskitem {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px;
  animation: fadeIn 0.5s;
  height: 7%;
  min-height: 7%;
  position: relative; /* Добавляем позиционирование для дочерних элементов */
  transition: transform 0.3s; /* Добавляем анимацию для свойства transform */
}

.taskitem:hover {
  transform: translateY(-3px);
}



@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(-50px);
  }
}


@keyframes BtnfadeOut {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.taskitem.fade-out {
  animation: fadeOut 0.3s;
}

.task {
  text-align: center;
  border: 2px solid rgb(38, 41, 54);
  background-color: white;
  border-radius: 20px;
  height: 100%;
  flex-grow: 1; /* Добавляем flex-grow для текста, чтобы он занимал оставшееся свободное место */
  padding: 0 1%;
  white-space: nowrap; /* Запрещаем перенос текста на новую строку */
  text-overflow: ellipsis; /* Добавляем многоточие для текста, который не помещается в одну строку */
  overflow: hidden; /* Скрываем часть текста, которая выходит за пределы элемента */
}

.editing{
  border: 2px solid rgb(255, 119, 0);
}
.edit-buttons {
  animation: BtnfadeOut 0.8s ease-out;
  height: 100%;
  display: flex;
  margin-left: auto; /* Перемещаем кнопки вправо, чтобы они были справа от текста */
  width: 13%;
}

.editBtn, .saveBtn, .deleteBtn {
  text-decoration: none;
  background-color: rgb(84, 255, 172);
  border-radius: 20px;
  cursor: pointer;
  margin-left: 8px;     
  height: 90%;      
  width: 50%;  
  text-align: center;      
  padding-top: 6%;  
}

.deleteBtn{
  background-color: #da3b3b;
}

@media screen and (max-width: 768px) {
  .edit-buttons {
    height: 100%;
    display: flex;
    margin-left: auto; 
    width: 25%;
  }
  .editBtn, .saveBtn, .deleteBtn {
         
    height: 77%;      
    width: 50%;  
    padding-top: 15%;  
  }
}

